# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
env/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# VSCode and PyCharm settings
.vscode/
.idea/
